body{
    background-color: black;
}
div{
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    background-position-y: center;
    background-position-x: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url("dr.jpg");
}